*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header {
    z-index: 997;
    transition: all 0.5s;
    padding: 22px 0;
    background: #fff;
}
#header .logo h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #222222;
    text-decoration: none;
}

/* .bg-gradient-primary-to-secondary{
    background: #1e30f3;
    background: linear-gradient(135deg, #1e30f3 0%, #fff 100%);
}

.profile{
    border-radius: 5vw;
    position: relative;
     height: 75vw;
    width: 75vw;
    margin-top: 5vw;
    max-height: 40rem;
    max-width: 40rem;
} */